@import "../../../shared/moreless/more";
*{
	margin: 0;
	padding: 0;
}
@normal: #000;
@hover: #159;
@selected: #18DB66;
body{
	font-family: Helvetica Arial, sans-serif;
	background: #62969b;
	width: 900px;
	margin: 250px auto 0;

}

/*============================
NORMAL
============================*/
.selectbox{
	position: relative;
	overflow:  hidden;
	float: left;
	margin-right: 50px;

	//ACTIVE
	&.active{
		z-index: 1;
		overflow: visible;
		span{
			background: lighten(@normal, 15%);
			.borderRadius(5px 5px 0 0);
			border-bottom: none;
			cursor: default;
		}
		ul{
			max-height: 169px;
			opacity: 1;
			overflow: auto;
		}
	}

	span{
		display: block;
		width: 200px;
		height: 100%;
		line-height: 30px;
		padding: 0 15px;
		color: #ffffff;
		border: 1px solid @normal;
		cursor: pointer;
		.verticalGradient(center, lighten(@normal, 10%), lighten(@normal, 20%), lighten(@normal, 15%), @normal);
		.boxShadow( rgba(255,255,255, 0.25), inset 0px 1px 0);
		.borderRadius(5px);
		.boxSizing();
		&:before{
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			right: 10px;
			top: 50%;
			margin-top: -5px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 10px solid lighten(@hover, 15%);
		}
	}

	ul{
		position: absolute;
		left: 0;
		top: 100%;
		opacity: 0;
		width: 100%;
		max-height: 0;
		list-style-type: none;
		overflow: none;
		background: lighten(@normal, 15%);
		border: 1px solid @normal;
		border-top: none;
		.boxSizing();
		.borderRadius(0 0 5px 5px);
		&::-webkit-scrollbar {
    		width: 10px;
		}
		&::-webkit-scrollbar-track {
    		///-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.7);
		}
		&::-webkit-scrollbar-thumb {
    		-webkit-box-shadow: inset 0 0 10px 2px lighten(@hover, 10%);
    		.borderRadius(5px);
		}

		li{
			display: block;
			padding: 5px 0 5px 15px;
			margin: 2px;
			color: #fff;
			cursor: default;
			border: 1px solid transparent;
			.noSelection();
			.borderRadius(5px);
			&:after{
				content: '\2610';
				float: right;
				margin-right: 6px;
				font-size: 25px;
				line-height: 16px;
			}
			&.selected{
				//color: @selected;
				&:after{
					content: '\2611 ';
				}
			}
			//&.selected,
			&:hover{
				border-color: @normal;
				.verticalGradient(@hover, darken(@hover, 10%));
				.boxShadow(.5, inset 0 0 3px );
			}
		}
	}

	.hidden{
		display: none;
	}

}


#log{
	width: 100%;
	overflow: hidden;
	color: #ffffff;
	word-break: break-word;
}