/* ====================================
= All properties of gradients mixins is from Colorzilla
= http://www.colorzilla.com/gradient-editor/
==================================== */
/* Vertical Gradient
============================*/
/* Horizontal Gradient
============================*/
/*.cfx(){
	.clearfix();
}
*//* Border Radius
============================*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica Arial, sans-serif;
  background: #62969b;
  width: 900px;
  margin: 250px auto 0;
}
/*============================
NORMAL
============================*/
.selectbox {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 50px;
}
.selectbox.active {
  z-index: 1;
  overflow: visible;
}
.selectbox.active span {
  background: #262626;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  cursor: default;
}
.selectbox.active ul {
  max-height: 169px;
  opacity: 1;
  overflow: auto;
}
.selectbox span {
  display: block;
  width: 200px;
  height: 100%;
  line-height: 30px;
  padding: 0 15px;
  color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  background: #1a1a1a;
  background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #262626 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(0%, #262626), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #262626 0%, #000000 100%);
  background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #262626 0%, #000000 100%);
  background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #262626 0%, #000000 100%);
  background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #262626 0%, #000000 100%);
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.selectbox span:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #197bde;
}
.selectbox ul {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  width: 100%;
  max-height: 0;
  list-style-type: none;
  overflow: none;
  background: #262626;
  border: 1px solid #000000;
  border-top: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.selectbox ul::-webkit-scrollbar {
  width: 10px;
}
.selectbox ul::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 10px 2px #166ec7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.selectbox ul li {
  display: block;
  padding: 5px 0 5px 15px;
  margin: 2px;
  color: #fff;
  cursor: default;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.selectbox ul li:after {
  content: '\2610';
  float: right;
  margin-right: 6px;
  font-size: 25px;
  line-height: 16px;
}
.selectbox ul li.selected:after {
  content: '\2611 ';
}
.selectbox ul li:hover {
  border-color: #000000;
  background: #115599;
  background: -moz-linear-gradient(top, #115599 0%, #0c3b6b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #115599), color-stop(100%, #0c3b6b));
  background: -webkit-linear-gradient(top, #115599 0%, #0c3b6b 100%);
  background: -o-linear-gradient(top, #115599 0%, #0c3b6b 100%);
  background: -ms-linear-gradient(top, #115599 0%, #0c3b6b 100%);
  background: linear-gradient(top, #115599 0%, #0c3b6b 100%);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.selectbox .hidden {
  display: none;
}
#log {
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  word-break: break-word;
}
